@page
@model KonohagoWebApp.Pages.DonatePageModel
@{
}
<a href="http://qrcoder.ru" target="_blank">

    <p style="text-align: center;"><img src="http://qrcoder.ru/code/?89539822222%0D%0A%EF%EE%EB%F3%F7%E0%F2%E5%EB%FC%3A+%CE%EB%E5%F1%FF+%C3%E5%ED%ED%E0%E4%FC%E5%E2%ED%E0&10&0" width="450" height="450" border="0" title="QR код" />
</a>


<script src="../js/pageDonate.js"></script>