@using Microsoft.AspNetCore.Http
@using Models
@using KonohagoWebApp.Helpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KonohagoWebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/mainPage.css" type="text/css" />
    @await Html.PartialAsync("_ForeignStyle")
   
</head>
<body>
    <header class="header-main-area">
        <div class="header-padding">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-dark bg-black">
                    <a class="navbar-brand" href="#">Konohago</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="wide_navbar nav-item">
                                <a class="nav-link" asp-area="" asp-page="/Index">Главная</a>
                            </li>
                            <li class="wide_navbar nav-item">
                                <a class="nav-link" asp-area="" asp-page="/TitlesPage">Каталог аниме</a>
                            </li>
                            <li class="wide_navbar nav-item">
                                <a class="nav-link" asp-area="" asp-page="/FAQ">FAQ</a>
                            </li>
                            <li class="wide_navbar nav-item">
                                <a class="nav-link" asp-area="" asp-page="/Search">Поиск</a>
                            </li>
                            @if (Context.Session.GetString("role") == "Guest")
                            {
                                <li class="wide_navbar nav-item">
                                    <a class="nav-link" asp-area="" asp-page="/Registration">Регистрация</a>
                                </li>
                            }
                            @if (Context.Session.GetString("role") == "User")
                            {
                                <li class="wide_navbar nav-item">

                                    <a type="submit" class="nav-link" asp-page="Index" asp-page-handler="ClearSession">Выход</a>

                                </li>
                            }
                            @if (Context.Session.GetString("role") == "User")
                            {
                                <li class="wide_navbar nav-item">
                                    <a class="nav-link" href="/Profile/?id=@(Context.Session.Get<User>("Current_user").Id)">Мой профиль</a>
                                </li>
                            }
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    @if (!Context.Request.Query.ContainsKey("id"))
    {
        <section class="about-area">
            <div class="about-padding">
                <div class="container">
                    <div class="about-title all-title">
                        <h2>О нас</h2>
                    </div>
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="about-left">
                                <img class="img-fluid" src="/img/alesya_kal.png" alt="">
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="about-right-content">
                                <h3></h3>
                                <p class="olesya-kal">Группа молодых разработчиков, которые готовы идти вперед, не останавливаясь в развитии. Мы разрабатываем приложения, которыми можем гордиться </p>
                                <a asp-page="/DonatePage" id="btn_support" class="about-right-btn">Поддержать нас</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        @RenderSection("Scripts", required: false)
    </body>
</html>
